.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont>.sapUiFormResGridLbl:not(.sapUiRespGridSpanM12)>.sapMLabel, .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormResGridLbl:not(.sapUiRespGridSpanL12)>.sapMLabel {
    text-align: end!important;
    float: none;
    color: #505088;
}

.sapMListBGSolid .sapMLIB {
    
    border-color: gray;
}
.sap-desktop .sapMFooter-CTX .sapMBtnInner {
    border-color:  gray;
}

.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanS12)>.sapMLabel, .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanM12)>.sapMLabel, .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanL12)>.sapMLabel {
    text-align: end!important;
    float: none;
    color: #505088;
    position: relative;
}

.uoMBtnBadge {
    position: relative;
}

.uoMBtnBadge[data-badge]::after {
    content: attr(data-badge);
    position: absolute;
    top: 0.15rem;
    left: 2.7rem;
    /* or use right: 0; */
    font-size: .6rem;
    padding: .1rem .2rem;
    text-align: center;
    border-radius: 20%;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
    color: #fff;
    background: #67c1ef;
    border-color: #30aae9;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#acddf6), to(#67c1ef));
    background-image: -webkit-linear-gradient(#acddf6, #67c1ef);
    background-image: -moz-linear-gradient(#acddf6, #67c1ef);
    background-image: -o-linear-gradient(#acddf6, #67c1ef);
    background-image: linear-gradient(#acddf6, #67c1ef);
}

.uoMBtnBadge.uoBadgeInformation::after {
    background: #67c1ef;
    border-color: #30aae9;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#acddf6), to(#67c1ef));
    background-image: -webkit-linear-gradient(#acddf6, #67c1ef);
    background-image: -moz-linear-gradient(#acddf6, #67c1ef);
    background-image: -o-linear-gradient(#acddf6, #67c1ef);
    background-image: linear-gradient(#acddf6, #67c1ef);
}

.uoMBtnBadge.uoBadgeSuccess::after {
    background: #77cc51;
    border-color: #59ad33;
    background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
    background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
    background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
    background-image: linear-gradient(to bottom, #a5dd8c, #77cc51);
}

.uoMBtnBadge.uoBadgeError::after {
    background: #fa623f;
    border-color: #fa5a35;
    background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
    background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
    background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
    background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
}

.uoMBtnBadge.uoBadgeWarning::after {
    background: #faba3e;
    border-color: #f4a306;
    background-image: -webkit-linear-gradient(top, #fcd589, #faba3e);
    background-image: -moz-linear-gradient(top, #fcd589, #faba3e);
    background-image: -o-linear-gradient(top, #fcd589, #faba3e);
    background-image: linear-gradient(to bottom, #fcd589, #faba3e);
}

.fieldGreen {
   color: #118811 !important;
   font-weight: bold !important;
}

.fieldRed {
   color: #aa1111 !important;
   font-weight: bold !important;
}

.sapMObjLNumberStateNone{
	color: #aa1111 !important;
	
}

.sapMObjStatusText{
	color: #118811 !important;
	
}


